In [1]:
fn.data <- "/home/vishalpolley/r/data.txt"

In [2]:
person <- read.csv(fn.data)

In [3]:
person

  X21   X6.0
1 42.00  5.9
2 18.00  5.7*
3  3.21  NA

In [4]:
person <- read.csv(file = fn.data,header = FALSE,col.names = c("age","height"))

In [5]:
person

  age   height
1 21.00  6.0
2 42.00  5.9
3 18.00  5.7*
4  3.21  NA

### Type Conversion Example

In [6]:
as.numeric(c("7","7*","7.0","7,0"))

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1]  7 NA  7 NA

### Type Conversion

* as.numeric
* as.integer
* as.character
* as.logical
* as.factor
* as.ordered

### Recoding factors

In [24]:
gender <- c(2, 1, 1, 2, 0, 1, 1)

In [25]:
gender

[1] 2 1 1 2 0 1 1

In [26]:
# recoding table, stored in a simple vector
recode <- c(male = 1, female = 2)

In [27]:
recode

  male female
     1      2

In [28]:
gender <- factor(gender, levels = recode, labels = names(recode))

In [29]:
gender

[1] female male   male   female <NA>   male   male
Levels: male female

### Converting dates

Date, POSIXt, POSIXct

In [30]:
current_time <- Sys.time()

In [31]:
class(current_time)

[1] "POSIXct" "POSIXt"

In [32]:
current_time

[1] "2017-11-28 11:25:26 IST"

In [33]:
library(lubridate)

Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

In [36]:
dates <- c("28/11/2017"
          ,"28 Nov 17"
          ,"It happened on 28 11 '17")

In [37]:
dmy(dates)

[1] "2017-11-28" "2017-11-28" "2017-11-28"

### String normalization

* package `str`
* `str_trim()`
* stringr

In [40]:
library(stringr)

In [41]:
str_trim(" hello world ")

[1] "hello world"

In [42]:
str_trim(" hello world ", side = "left")

[1] "hello world "

In [43]:
str_trim(" hello world ", side = "right")

[1] " hello world"

In [44]:
toupper("Hello world")

[1] "HELLO WORLD"

In [45]:
tolower("Hello world")

[1] "hello world"

### Gaps
* Missing Values
* NaN
* Special values
* outliers

** `NA` : Not Available **

In [50]:
# NA Value/s
a <- c(1, 3, NA, 7, 9)

In [51]:
sum(a)

[1] NA

In [52]:
help(sum)

In [54]:
sum(a, na.rm = TRUE)

[1] 20

### NULL

In [56]:
length(c(1, 2, NULL, 4)) 
# Null does'nt takes memory location but NA takes.

[1] 3

In [57]:
sum(c(1, 2, NULL, 4))

[1] 7

In [58]:
x <- NULL

In [59]:
length(x)

[1] 0

In [60]:
c(x, 2)

[1] 2

In [62]:
is.null(x)
# use is.null() to detect NULL

[1] TRUE

In [63]:
length(c)

[1] 1

### Infinity
Inf Stands for "infinity"

In [64]:
pi/0

[1] Inf

In [65]:
2 * Inf

[1] Inf

In [66]:
Inf - 1e+10

[1] Inf

In [67]:
Inf + Inf

[1] Inf

In [68]:
3 < -Inf

[1] FALSE

In [69]:
Inf == Inf

[1] TRUE

In [70]:
is.infinite(-Inf)

[1] TRUE

In [75]:
is.finite(c(1, NA, 2, Inf, 3, -Inf, 4, NULL, 5, NaN, 6))

 [1]  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE  TRUE FALSE  TRUE

In [76]:
Inf - Inf

[1] NaN

In [77]:
Inf/Inf

[1] NaN

In [78]:
Inf %% Inf

[1] NaN

In [79]:
is.finite(NULL)

logical(0)

In [81]:
is.infinite(NaN)

[1] FALSE

In [82]:
is.finite(NaN)

[1] FALSE

### NaN: Not a Number

In [83]:
NaN + 1

[1] NaN

In [84]:
exp(NaN)

[1] NaN

In [86]:
# use is.nan() to detect NULL
is.nan(0/0)

[1] TRUE

In [87]:
class(NaN)

[1] "numeric"

In [88]:
class(NA)

[1] "logical"

In [89]:
class(Inf)

[1] "numeric"

### Outliers

"An outliers in a data set as an obervation (or set of observations) which appear to be inconsistent with that set of data"